html, body {
    min-height: 100vh;
    margin: 0;
    font-family: "Vazirmatn", sans-serif;
}
body{
    direction: rtl;
}
.main{
    background-image: url('assets/images/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.bg-auth{
    background-image: url('assets/images/auth-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}


#root {
    height: 100%;
}

.bg-primary{
    background-color: #498696;
}

.bg-primary-500{
    background: #49869666;
}
.item-menu{
    width: 100%;
    gap:3px;
    cursor: pointer;
}

.list-menu{
    height: 100%;
    width: 100%;
}
.icon-item-menu{
    width: 30px;
    height: 30px;
    top: 57px;
    left: 31px
}
.text-item-menu{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.text-profile{
    font-family: "Inknut Antiqua",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;

}

.icon-item-event{
    width: 20px;
    height: 20px;

}

.list-taps,.item-taps{
    height: 42px;
}

.text-primary{
    color: #498696;
}
.title-table-font{
    font-size: 14px;
    font-weight: 600;
}

.item-tap{
    cursor:pointer;
}

.active-tap {
    border-bottom: 2px solid rgb(107 114 128);
}

.menu{
    box-shadow: 0px 5px 15px 0px #8080808C;
}

input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #498696;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked{
    background-color: #498696;
}

input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.default-input-text,.input-date-container{
    background: #A6CDD766;
    height: 2.5rem;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
}
.bg-default-input{
    background: #A6CDD766;
}

.custom-input {
    background-color: transparent;
    border: none;
    color: inherit; /* لتوريث لون النص من الـ label */
    width: 100%;
}

.custom-input:focus {
    outline: none; /* إزالة الإطار الأزرق الافتراضي عند التركيز */
}

.default-date-input:focus{
    border: none;
}

.default-input-text:focus{
    border: 1px solid #498696;
}

.custom-w-44{
    width: 44%;
}

.custom-w-49{
    width: 49%;
}

.default-text-area{
    background: #A6CDD766;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
}

.default-text-area:focus{
    border: 1px solid #498696;
}

.btn-primary{
   background: #A6CDD766;
    height: 2.5rem;
    padding: 10px;
    border-radius: 8px;
}

.select-default {
    outline: none;
    padding-left: 20px;
    padding-right: 10px; /* لإتاحة مساحة كافية للسهم */
    height: 2.5rem; /* لتحديد ارتفاع محدد */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140"><polygon points="70,100 25,40 115,40" fill="%23498696"/></svg>') no-repeat;
    background-size: 15px; /* حجم السهم */
    -webkit-appearance: none; /* إزالة السهم الافتراضي */
    -moz-appearance: none; /* إزالة السهم الافتراضي */
    appearance: none; /* إزالة السهم الافتراضي */
    border: none; /* إزالة border الافتراضي */

}

.select-arrow-right{
    padding-right: 5%;
    background-position: 99.9% 50%;
}

.select-arrow-left{
    background-position: 5% 50%;
}



.select-default-container {
    position: relative;
    background: #A6CDD766;
    height: 2.5rem;
    padding: 10px;
    border-radius: 8px;
}/* عرض الحاوية */

.option-default{
    background: #A6CDD766;
    border: none;
}

.text-default-opacity{
    color: rgba(0, 0, 0, 0.35);
}

.bg-auth-form{
    background: #49869699;
;
}

.border-t-primary{
    border-top-color: #498696;
}